body{
    margin: 0px 0px 0px 0px;
    font-family: sans-serif, monospace;
    color:aliceblue;
    min-height: 100vh;
    background-image: url('Stand\ Alone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


html, body{
    max-width: 100%;
    overflow-x: hidden;
}

.content{
    z-index: 990;
    filter: none;
}

*{
    margin: 0;
    padding: 0px;
}

nav{
    background: linear-gradient(#e6cf00, goldenrod);
    height: 50px;
    box-shadow: 3px 3px 5px rgba(238, 255, 0, 0.479);
    position: sticky;
    top: 0;
    z-index: 999;
}

main{
    z-index: 998;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

h1{
    padding: 15px;
    text-align: center;
}

.about {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 35px;
}

ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    animation: hoverAnim 400ms;
    animation-fill-mode: forwards;
}


nav li:first-child{
    margin-right: auto;
}



@keyframes hoverAnim{
    0%{
        background-color: hsla(0, 0%, 100%, 0)
    }
    100%{
        background-color: hsla(0, 0%, 100%, 0.37)
    }
}

nav a:active{
    animation: clickAnim 400ms;
    animation-fill-mode: forwards;
}

@keyframes clickAnim{
    0%{
        background-color: hsla(0, 0%, 100%, 0.37);
    }
    100%{
        background-color: hsla(0, 0%, 100%, 0.658);}
}



@keyframes hoverRaise{
    0%{
        position: relative;
        top: 0px;
    }
    100%{
        position: relative;
        top: -20px;
    }
}

.spacer{
    opacity: 0;
}

footer {
    background-color: #003366;
    text-align: center;
    padding: 20px;
    position: relative;
}

footer p {
    font-size: 1rem;
}